@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');

* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #e7eff6;
    font-size: 62.5%;
    font-family: 'Karla', sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;
}

main {
    margin-top: 2rem;
    background-color: white;
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 8px 0 #80808007, 0 6px 20px 0 #8080804d;
    border-radius: 0.4rem;
    width: 23rem;
}

.artigo-sesao-divisao-texto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

article {
    background-color: white;
    margin-top: 2.3rem;
}
.sesao-inicial{
    display: flex;
    gap: 1rem;
    width: 20rem;
}
.bloco-artigo {
    width: 20rem;
}

h1 {
    font-size: 1.5rem;
    color: #53a7a7;
}

h2 {
    color: #c7d972;
    font-size: 1rem;
}

.p-1 {
    font-size: 1rem;
    color: #a4a6ac;
    background-color: #2bb3b100;
    line-height: 1.8rem;
    height: 9rem;
}

.sesao-meio{
    background-color: #2bb3b1;
    width: 23rem;
}

.divisao-sesao {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 20rem;
    height: 14rem;
    margin-top: 2rem;
}

.Monthly {
    width: 20rem;
    font-size: 1.4rem;
    color: white;
}

.divisao-preco {
    width: 20rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    
}

.preco {
    color: white;
    font-size: 2.5rem;
}

.month {
    color: rgba(255, 255, 255, 0.582);
    font-size: 1.3rem;
}

.dia {
    color: white;
    font-size: 1.2rem;
    width: 20rem;
}

input {
    background-color: #bfdf32;
    border: none;
    padding: 1rem;
    text-align: center;
    text-decoration: none;
    border-radius: 0.3rem;
    font-size: 1rem;
    font-weight: 600;
    color: white;
    box-shadow: 0 4px 8px 0 #80808007, 0 6px 20px 0 #8080804d;
    width: 20rem;
}

.texto-sesao{
    background-color: #4abebd;
    height: 10rem;
    width: 23rem;
    height: 17rem;
}
.divisao-texto{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: 20rem;
    
}
h3 {
   color: white;
    font-size: 1.5rem;
    height: 2.5rem;
}

.p-2 {
    color: white;
    width: 13rem;
    font-size: 1rem;
    line-height: 1.4rem;
}